@page "/about"
<PageTitle>@title</PageTitle>

<HeadContent>
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <meta name="twitter:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section id="title" class="col-12 p-2 m-1">
    <div class="row">
        <h1 class="text-info"><iconify-icon icon="bi:chat-square-dots"></iconify-icon>&nbsp; About the Project</h1>
    </div>
    <div class="row">
        <h2 class="text-muted">@title</h2>
    </div>
</section>
<section class="p-2">
    <div class="row p-1">
        <div class="row">
            <div class="col-md-4" align="left">
                <p class="text-muted fw-bold"></p>
            </div>
            <div class="col-md-4" align="center">
                <img src="/img/image-2.webp" alt="" class="img-fluid col-12"/>           
            </div>
            <div class="col-md-4" align="right">
                <p class="text-muted"></p>
            </div>
        </div>
        <div class="col-md-12 p-1" align="center">
            <h4 class="text-muted fw-bold"></h4>
            <hr />
            <div class="jumbotron">
                <h4 class="display-4">Example websites accross platforms and languages</h4>
                <p class="lead">Lets take a look at Joomla and Wordpress for example</p>
                <hr class="my-4">
                <p>Or sites like this one, built on Azure</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="projects" role="button">Example Websites</a>
                </p>
            </div>
            <p class="text-muted"></p>
        </div>
    </div>
    <div class="row p-1">
        <div class="row">
            <div class="col-md-3" align="left">
                <p class="text-muted fw-bold"></p>
            </div>
            <div class="col-md-3" align="center">
                <p class="text-muted fw-bold"></p>  
            </div>
            <div class="col-md-3" align="right">
                <p class="text-muted"></p>
            </div>
            <div class="col-md-3" align="right">
                <p class="text-muted"></p>
            </div>
        </div>
    </div>
    <div class="row p-1">
        <div class="row">
            <div class="col-md-12 p-1" align="center">
                <img src="/img/image-6.jpg" alt="" class="img-fluid col-12" />
                <hr/>
                <p class="text-primary"></p>
            </div>
            <div class="col-md-12 p-1" align="center">
                <div class="jumbotron">
                    <h4 class="display-4">Example websites accross platforms and languages</h4>
                    <p class="lead">Lets take a look at Joomla and Wordpress for example</p>
                    <hr class="my-4">
                    <p>Or sites like this one, built on Azure</p>
                    <p class="lead">
                        <a class="btn btn-primary btn-lg" href="projects" role="button">Example Websites</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    public bool paginate = true;
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
    public string description = "Learn about the development of this project and more on this site.";
    public string title = "About | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net/about";
}
