@page "/examples"
@inject NavigationManager Navigation
@using System.Collections.Generic

<PageTitle>@title</PageTitle>

<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:url" content="@url">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section class="p-1 col-12">
    <div class="row" align="center">
        <div class="col-md-8">
            <h2>Examples</h2>
            <hr/>
        </div>
        <div class="col-md-4">
            <p class="text-muted">Learn about some of the previously worked projects</p>
        </div>
    </div>
</section>

<section class="p-1 col-12">
    <div class="row" align="center">
        <div class="col-md-12 p-1">
            <div class="row p-1">
                <h3 class="text-muted">Working examples of projects that were suppported or created</h3>
            </div>
            <hr/>
            <div class="row p-1">
                <p class="text-muted fw-bold">Get and idea of the tools needed for their development or the platforms involved into their creation.</p>
            </div>
        </div>
    </div>
</section>

<section id="content-selection" class="p-1 col-12">
    <div class="row p-2">
        <div class="mb-3">
            <div class="form-group">
                <label class="form-text">
                    Select your platform:
                </label>
                <select class="form-select"  @onchange="OnDropdownChange">
                    <option value="">Select a value</option>
                    <option value="@nameof(Azure)">Azure</option>
                    <option value="@nameof(Joomla)">Joomla</option>
                    <option value="@nameof(Wordpress)">Wordpress</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row p-1">
        <div class="col-lg-12 p-1">
        </div>
        <div class="mb-3 form-check">
            <label class="form-check-label">
                Would you like andean dev to the design
            </label>
            <input class="form-check-input" type="checkbox" @bind="Personalized" />
        </div>
    </div>
</section>

<section class="p-1 col-12">
    @if (selectedContent is not null)
    {
        <div class="row">
            <div class="col-lg-12 p-1">
                <div class="border border-primary my-1 p-1">
                    <DynamicComponent Type="@selectedContent" />
                </div>
            </div>
        </div>
        <hr />
        <div class="border border-primary my-1 p-1">
            <Result Personalized="@personalization" Name="@selectedContent.Name" />
        </div>
    }
</section>


@code {
    public string description = "Example projects on different architectures";
    public string title = "Example Projects | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net/examples";
    private void NavigateToCounterComponent()
    {
        Navigation.NavigateTo("counter");
    }
    public class ComponentMetadata
    {
        public string? Name { get; set; }
        public Dictionary<string, object> Parameters { get; set; } =
            new Dictionary<string, object>();
    }
    private Dictionary<string, ComponentMetadata> components =
        new()
            {
            {
                "Azure",
                new ComponentMetadata
                {
                    Name = "Azure",
                    Parameters = new() { { "Personalized", false } }
                }
            },
            {
                "Joomla",
                new ComponentMetadata { Name = "Joomla"}
            },
            {
                "Wordpress",
                new ComponentMetadata { Name = "Wordpress"}
            }
            };
    private Type? selectedContent;
    private bool personalization;
    private bool Personalized
    {
        get { return personalization; }
        set
        {
            personalization = value;
        }
    }
    private void OnDropdownChange(ChangeEventArgs e)
    {
        selectedContent = e.Value?.ToString()?.Length > 0 ?
            Type.GetType($"miguelestradam.Shared.{e.Value}") : null;
    }
}