@page "/"
<PageTitle>@title</PageTitle>

<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:url" content="@url">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section class="p-2" id="computing">
    <div class="row">
        <div class="col-lg-12">
            <div class="pb-3 mb-4 border-bottom">
                <div align="center" class="p-2">
                    <div class="row">
                        <img src="img/image-5.jpg" alt="" />
                    </div>
                </div>
                <div class="row">
                    <div align="center" class="col-lg-12 p-1">
                        <span class="fs-4">Local & Cloud Computing</span>
                    </div>
                    <div align="center" class="col-lg-12 p-2">
                        <div align="center" class="p-2">
                            <div class="row">
                                <p class="text-muted">
                                    <strong>Learn about the porgrammming languages and platforms involved among all projects</strong>
                                    <br />
                                    For example: <mark>Java</mark>, <mark>C#</mark>, <mark>ASP</mark>, <mark>PHP</mark> and many more.
                                    <br />
                                    <small>The difficulty or level at each project was taken varies among each other.</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<SurveyPrompt 
    Title="Learn to program!" 
    Content="There are many different ways in which a person can learn to program. This site, recollects excercises throught many different languages."
    Url="https://www.hackerrank.com/miguelestradam36"
    Url_name="Hackerrank"
    />

@code {
    public string description = "Miguel Estrada's personal professional website";
    public string title = "Home | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net";
}