@page "/"

<PageTitle>@title</PageTitle>

<HeadContent>
    <link href="vendor/aos/aos.css" rel="stylesheet">
    <link href="vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:url" content="@url">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section id="content" class="m-2 p-1">
    <div class="" style="width: 18rem;">
        <h1 class="text-muted"></h1>
    </div>
    <div class="" style="width: 18rem;">
        <h2 class="text-muted">@title</h2>
    </div>
</section>

<section id="content" class="m-2 p-1">
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="card-link">Card link</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</section>


<h2>@title</h2>
<SurveyPrompt Title="How is Blazor working for you?" />

@code {
    public string description = "";
    public string title = "Home | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net";
}