@page "/"
<PageTitle>@title</PageTitle>

<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:url" content="@url">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section class="p-2" id="computing">
    <div class="row">
        <div class="col-lg-12">
            <div class="pb-3 mb-4 border-bottom">
                <div align="center" class="p-2">
                    <div class="row">
                        <img src="img/image-5.jpg" alt="" />
                    </div>
                </div>
                <div class="row">
                    <div align="center" class="col-lg-12 p-1">
                        <span class="fs-4">Local & Cloud Computing</span>
                    </div>
                    <div align="center" class="col-lg-12 p-2">
                        <div align="center" class="p-2">
                            <div class="row">
                                <p class="text-muted">
                                    <strong>Learn about the porgrammming languages and platforms involved among all projects</strong>
                                    <br />
                                    For example: <mark>Java</mark>, <mark>C#</mark>, <mark>ASP</mark>, <mark>PHP</mark> and many more.
                                    <br />
                                    <small>The difficulty or level at each project was taken varies among each other.</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content-1" class="col-lg=12 p-1">
    <div class="row p-3">
        <div class="col-12 p-2">
            <div class="p-2 row">
                <img src="img/image-2.webp" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<SurveyPrompt 
    Title="Learn to program!" 
    Content="There are many different ways in which a person can learn to program. This site, recollects excercises throught many different languages."
    Url="https://www.hackerrank.com/miguelestradam36"
    Url_name="Hackerrank"
    />

<section id="content-2" class="pb-2">
    <div class="row p=1">
        <div class="col-12 p-3">
            <div class="container py-4">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Project listing</h1>
                        <p class="col-md-8 fs-4">
                            Projects in different platforms, this would be projects developed or/and supported.
                        </p>
                        <a class="btn btn-primary btn-lg" href="Projects">Example Projects</a>
                    </div>
                </div>

                <div class="row align-items-md-stretch">
                    <div class="col-md-6">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>Github in many different languages</h2>
                            <p>
                               Learn about the projects listed on Github, including many different programming languages.
                            </p>
                            <a class="btn btn-outline-light" href="Examples">Github Project Examples</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2 class="text-primary fw-bold">Learn about ASP.NET development</h2>
                            <p class="text-muted col-md-8 fs-4">
                                From how this Blazor application was built, to how to develop applications in ASP.NET 
                            </p>
                            <a class="btn btn-outline-secondary" href="About">About the Project</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="pb-1 p-3 m-1">
    <div class="row p-2">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <iconify-icon icon="bi:stack-overflow"></iconify-icon> StackOverflow Account</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Public knowlede platform for developers</h6>
                    <p class="card-text">Learning to create questions and help other developers with those.</p>
                    <a href="https://stackoverflow.com/users/12836774/miguel-estrada" class="card-link">miguelestradam36</a>
                    <a href="contact" class="card-link">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <iconify-icon icon="bi:toggles"></iconify-icon> Involved Technologies</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Different platforms and programming languages</h6>
                    <p class="card-text">Learn to manage PHP applications in your own computer through APACHE servers.</p>
                    <a href="https://www.apachefriends.org/es/download.html" class="card-link">XAMPP</a>
                    <a href="contact" class="card-link">Contact</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <iconify-icon icon="bi:tools"></iconify-icon> Visual Studio Code | Visual Studio 2022</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Development tools</h6>
                    <p class="card-text">In this case, for the development of ASP.NET applications, be able to construct these applications with the usage of the mentioned tool.</p>
                    <a href="https://visualstudio.microsoft.com/vs/community/" class="card-link">Install Visual Studio 2022</a>
                    <a href="contact" class="card-link">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>

@code {
    public string description = "Miguel Estrada's personal professional website";
    public string title = "Home | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net";
}