@page "/"

<PageTitle>@title</PageTitle>

<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:url" content="@url">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section class="p-2" id="computing">
    <div class="row">
        <div class="col-lg-12">
            <div class="pb-3 mb-4 border-bottom">
                <div align="center" class="p-2">
                    <div class="row">
                        <img src="img/image-5.jpg" alt="" />
                    </div>
                </div>
                <div class="row">
                    <div align="center" class="col-lg-12 p-1">
                        <span class="fs-4">Local & Cloud Computing</span>
                    </div>
                    <div align="center" class="col-lg-12 p-2">
                        <div align="center" class="p-2">
                            <div class="row">
                                <p class="text-muted">
                                    <strong>Learn about the porgrammming languages and platforms involved among all projects</strong>
                                    <br />
                                    For example: <mark>Java</mark>, <mark>C#</mark>, <mark>ASP</mark>, <mark>PHP</mark> and many more.
                                    <br />
                                    <small>The difficulty or level at each project was taken varies among each other.</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content-1" class="col-lg=12 p-1">
    <div class="row p-3">
        <div class="col-12 p-2">
            <div class="p-2 row">
                <img src="img/image-2.webp" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section>

<SurveyPrompt 
    Title="Learn to program!" 
    Content="There are many different ways in which a person can learn to program. This site, recollects excercises throught many different languages."
    Url="https://www.hackerrank.com/miguelestradam36"
    Url_name="Hackerrank"
    />

<section id="content-2" class="pb-2">
    <div class="row p=1">
        <div class="col-12 p-3">
            <div class="container py-4">
                <div class="p-5 mb-4 bg-light rounded-3">
                    <div class="container-fluid py-5">
                        <h1 class="display-5 fw-bold">Custom jumbotron</h1>
                        <p class="col-md-8 fs-4">Using a series of utilities, you can create this jumbotron, just like the one in previous versions of Bootstrap. Check out the examples below for how you can remix and restyle it to your liking.</p>
                        <button class="btn btn-primary btn-lg" type="button">Example button</button>
                    </div>
                </div>

                <div class="row align-items-md-stretch">
                    <div class="col-md-6">
                        <div class="h-100 p-5 text-bg-dark rounded-3">
                            <h2>Change the background</h2>
                            <p>Swap the background-color utility and add a `.text-*` color utility to mix up the jumbotron look. Then, mix and match with additional component themes and more.</p>
                            <button class="btn btn-outline-light" type="button">Example button</button>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="h-100 p-5 bg-light border rounded-3">
                            <h2>Add borders</h2>
                            <p>Or, keep it light and add a border for some added definition to the boundaries of your content. Be sure to look under the hood at the source HTML here as we've adjusted the alignment and sizing of both column's content for equal-height.</p>
                            <button class="btn btn-outline-secondary" type="button">Example button</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="content-3" class="pb-1 p-3 m-1">
    <div class="row p-1">
        <div align="center" class="col-lg-12 p-1">
            <h4 class="text-primary"></h4>
        </div>
        <div align="center" class="col-lg-12 p-1">
            <p class="text-muted"></p>
            <div class="p-2 m-1">
                <div align="center" class="col-12">
                    <iconify-icon icon="bi:motherboard"></iconify-icon>
                    <p class="align-content-lg-center"> </p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <iconify-icon icon="bi:file-earmark-x"></iconify-icon> Secured solutions</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Encrypted hosting across different platforms</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <iconify-icon icon="bi:file-earmark-x"></iconify-icon> Secured solutions</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Encrypted hosting across different platforms</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title"> <iconify-icon icon="bi:file-earmark-x"></iconify-icon> Secured solutions</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Encrypted hosting across different platforms</h6>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="p-1 col-12">
    <div class="row p-1">
        <p>
            <label>
                <input type="checkbox" @bind="Personalized" />
                Window Seat (Rocket Lab only)
            </label>
        </p>
    </div>
    <div class="row p-2">
        <p>
            <label>
                Select your transport:
                <select @onchange="OnDropdownChange">
                    <option value="">Select a value</option>
                    <option value="@nameof(DynamicCont1)">Rocket Lab</option>
                    <option value="@nameof(DynamicCont2)">SpaceX</option>
                    <option value="@nameof(DynamicCont3)">ULA</option>
                </select>
            </label>
        </p>
    </div>
</section>

@if (selectedContent is not null)
{
    <div class="row">
        <div class="col-lg-12 p-1">
            <div class="border border-primary my-1 p-1">
                <DynamicComponent Type="@selectedContent"
                              Parameters="@components[selectedContent.Name].Parameters" />
            </div>
        </div>
    </div>
    <br/>
    <hr/>
    <div class="border border-primary my-1 p-1">
        <Result Personalized="@Personalized"/>
    </div>
}

@code {
    public string description = "Miguel Estrada's personal professional website";
    public string title = "Home | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net";

    public class ComponentMetadata
    {
        public string? Name { get; set; }
        public Dictionary<string, object> Parameters { get; set; } =
            new Dictionary<string, object>();
    }

    private Dictionary<string, ComponentMetadata> components =
        new()
            {
            {
                "Websites construction",
                new ComponentMetadata
                {
                    Name = "Azure",
                    Parameters = new() { { "Personalized", false } }
                }
            },
            {
                "Joomla",
                new ComponentMetadata { Name = "Joomla" }
            },
            {
                "Wordpress",
                new ComponentMetadata { Name = "Wordpress" }
            }
            };

    public Index(Dictionary<string, ComponentMetadata> components)
    {
        this.components = components;
    }

    private Type? selectedContent;
    private bool windowSeat;

    private bool Personalized
    {
        get { return Personalized; }
        set
        {
            Personalized = value;
            components[nameof(Result)].Parameters["Personalized"] =
                windowSeat;
        }
    }

    private void OnDropdownChange(ChangeEventArgs e)
    {
        selectedContent = e.Value?.ToString()?.Length > 0 ?
            Type.GetType($"miguelestradam.Shared.{e.Value}") : null;
    }
}