@page "/projects"

<PageTitle>@title</PageTitle>

<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:url" content="@url">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section class="row">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-dark"><iconify-icon icon="bi:github"></iconify-icon> Github Projects</h2>
            <hr/>
            <p class="text-muted">Different programming languages and their respective projects.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div align="center" class="p-1">
            <img src="/img/image-5.jpg" class="text-align-center img-fluid"/>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> ASP.NET
        </h3>
        <hr/>
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Docker
        </h3>
        <hr/>
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Jupyter
        </h3>
        <hr />
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Powershell or Windows
        </h3>
        <hr/>
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>
                <br/>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/chocolatey-for-windows">Chocolatey for Windows</a>
            </li>
            <li>
                <br />
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/linux-windows-subsystem-setup">Linux Windows Sub-system</a>
            </li>
            <li>
                <br />
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/powershell-docs">Powershell Documentation</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> C++
        </h3>
        <hr />
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>
                <br />
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/basic_cplusplus">Basic Project</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Java
        </h3>
        <hr/>
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> SQL
        </h3>
        <hr />
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Python
        </h3>
        <hr/>
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Snowflake
        </h3>
        <hr />
        <p class="fw-bold text-muted">

        </p>
        <ul>
            <li>
                <br/>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/chocolatey-for-windows"></a>
            </li>
            <li>
                <br />
                <a class="btn btn-primary"></a>
            </li>
            <li>
                <br />
                <a class="btn btn-primary"></a>
            </li>
            <li>
                <br />
                <a class="btn btn-primary"></a>
            </li>
        </ul>
    </div>
</section>
<section class="row">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-dark fw-bold" align="center"><iconify-icon icon="bi:git"></iconify-icon> Collaborative Development</h4>
        </div>
    </div>
    <div class="col-md-8">

    </div>
    <div class="col-md-4">
        <img src="/img/image-3.png" class="img-fluid" alt="" />
    </div>
</section>
<section class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        
    </div>
</section>
@code {
    public string description = "Miguel Estrada's personal practice Github projects";
    public string title = "Github Projects | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net/projects";
}