@page "/projects"

<PageTitle>@title</PageTitle>

<HeadContent>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="@description">
    <meta property="og:title" content="@title">
    <meta property="og:type" content="website">
    <meta property="og:url" content="@url">
    <link rel="canonical" href="@url" />
    <meta itemprop="name" content="@title">
    <meta itemprop="description" content="@description">
    <meta name="twitter:card" content="@description">
    <meta name="twitter:url" content="@url">
    <meta name="twitter:title" content="@title">
    <meta name="twitter:description" content="@description">
</HeadContent>

<section class="row">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-dark"><iconify-icon icon="bi:github"></iconify-icon> Github Projects</h2>
            <hr/>
            <p class="text-muted">Different programming languages and their respective projects.</p>
        </div>
    </div>
    <div class="col-md-6">
        <div align="center" class="p-1">
            <img src="/img/image-5.jpg" class="text-align-center img-fluid"/>
        </div>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> ASP.NET
        </h3>
        <hr/>
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/pokedex-asp-js">Pokedex</a>
            </li>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/personal-site">Personal Site</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Kafka
        </h3>
        <hr />
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/kafka-snowflake-connector">Kafka Snowflake Connector</a>
            </li>
            <li>

            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Docker
        </h3>
        <hr/>
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-successs">This repository has been finished.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/python-n-docker">Dockerized Python Script</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Jupyter
        </h3>
        <hr />
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-successs">This repository has been finished.</p>
                <a class="btn btn-success" href="https://github.com/miguelestradam36/jupyter-notebooks">Jupyter Notebooks</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Powershell or Windows
        </h3>
        <hr/>
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-successs">This repository has been finished.</p>
                <a class="btn btn-success" href="https://github.com/miguelestradam36/chocolatey-for-windows">Chocolatey for Windows</a>
            </li>
            <li>
                <p class="text-successs">This repository has been finished.</p>
                
                <a class="btn btn-success" href="https://github.com/miguelestradam36/linux-windows-subsystem-setup">Linux Windows Sub-system</a>
            </li>
            <li>
                <p class="text-successs">This repository has been finished.</p>
                
                <a class="btn btn-success" href="https://github.com/miguelestradam36/powershell-docs">Powershell Documentation</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> C++
        </h3>
        <hr />
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-successs">This repository has been finished.</p>
                <a class="btn btn-success" href="https://github.com/miguelestradam36/basic_cplusplus">Basic Project</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Java
        </h3>
        <hr/>
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/netbeans-java-exp">Netbeans Java</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> SQL
        </h3>
        <hr />
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/basic-local-data-management">Basic Local Data Management</a>
            </li>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/finance-analyzer">Finance Analyzer</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Python
        </h3>
        <hr/>
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-success">This repository is under development.</p>
                <a class="btn btn-success" href="https://github.com/miguelestradam36/python-pokeapi-json">Python PokeApi Json</a>
            </li>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/python-voice-gen">Python Voice Generation</a>
            </li>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/python-skillset-01">Python Skillset 01</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> Snowflake
        </h3>
        <hr />
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/snowflake-stages">Snowflake Stages</a>
            </li>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/snowflake-db-training">Snowflake DB Training</a>
            </li>
        </ul>
    </div>
    <div class="col-md-6">
        <h3 class="text-dark">
            <iconify-icon icon="bi:github"></iconify-icon> AWS
        </h3>
        <hr />
        <p class="fw-bold text-muted">
            Projects currently under development.
        </p>
        <ul>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/asw-api-endgateway">AWS API EndGateway</a>
            </li>
            <li>
                <p class="text-danger">This repository is under development.</p>
                <a class="btn btn-primary" href="https://github.com/miguelestradam36/aws-boto3">AWS Boto3</a>
            </li>
        </ul>
    </div>
</section>
@code {
    public string description = "Miguel Estrada's personal practice Github projects";
    public string title = "Github Projects | Miguel Estrada Personal Site";
    public string url = "https://miguel-estrada.azurewebsites.net/projects";
}